.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  min-height: 80px;
  width: 100%;
  background-color: #85c1bd;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  background-color: #dcf5f7;
}

.footer {
  min-height: 80px;
  width: 100%;
  background-color: #85c1bd;
}
